@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  position: relative;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}